body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #333;
}

header {
    background-color: #3f2a6efa;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #bebdbd;
    border: 1px solid #ddd;
    border-radius: 5px;
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #270d63;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
